<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <video id="videoStram"autoplay controls></video>
    
    <div id="btn_container">
        <button id="btnCapura">Capturar pantalla</button>
        <button id="btnTransmicion">Iniciar transmición</button>
        <input type="text" name="" id="textarea" disabled>
        <!-- <textarea name="" id="textarea" ></textarea> -->
    </div>
    
</body>
<script src="./script.js"></script>
</html>