:root{
    color-scheme: dark;
}

body{
    overflow: hidden;
}

#btn_container{
    /* outline: 1px solid red; */
    display: flex;
    width: fit-content;
    height: 30px;
    padding: 2px 0;
    align-items: stretch;   
}

#btn_container button{
    margin-right: 4px;
    user-select: none;
}

#textarea {
    pointer-events: none;
    resize: none;
    width: 200px;
    display: flex;
    align-items: center;
    user-select: text;
}

#videoStram{
    width: 95vw;
    height: 91vh;
    min-width: 620px;
    min-height: 480px;
}